/*
Theme Name: THEME_NAME_UPPERCASE

WooCommerce styles override
*/
/**
 * WooCommerce color variables
 */
/**
 * Imports
 */
/**
 * Shop tables
 */
/**
 * Products
 */
.content-product-wrapper {
  padding: 90px 0px 110px;
}

.woocommerce .woocommerce-result-count {
  color: #555;
  margin: 14px 0px 0px 0px;
}

.woocommerce .woocommerce-ordering {
  margin-bottom: 30px;
}
.woocommerce .woocommerce-ordering .orderby {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #555;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  background-image: linear-gradient(45deg, transparent 50%, #c3c7c9 50%), linear-gradient(135deg, #c3c7c9 50%, transparent 50%);
  background-position: calc(100% - 24px) calc(1em + 6px), calc(100% - 19px) calc(1em + 6px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

.woocommerce ul.products li.product .star-rating,
.woocommerce .woocommerce-product-rating .star-rating {
  height: 15px;
  font-size: 15px;
  letter-spacing: 5px;
  width: 6.92em;
  margin: 10px auto;
}

.woocommerce .star-rating::before {
  color: #ffbe4e;
}

.woocommerce .star-rating span {
  color: #ffbe4e;
}

.woocommerce ul.products, .woocommerce-page ul.products {
  margin: 0px;
  padding: 0px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}
.woocommerce ul.products li.product .product-media, .woocommerce-page ul.products li.product .product-media {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.woocommerce ul.products li.product .product-media img, .woocommerce-page ul.products li.product .product-media img {
  margin-bottom: 0;
  border: 1px solid #e0e0e0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.woocommerce ul.products li.product .product-media:hover img, .woocommerce-page ul.products li.product .product-media:hover img {
  border-color: #1a1a1a;
}
.woocommerce ul.products li.product span.onsale, .woocommerce-page ul.products li.product span.onsale {
  top: 0;
  left: 0;
  right: auto;
  margin: 0px;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce-page ul.products li.product .woocommerce-loop-product__title {
  font-size: 20px;
  line-height: 28px;
  color: #1a1b1e;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 3px;
  padding: 0px;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title a, .woocommerce-page ul.products li.product .woocommerce-loop-product__title a {
  color: #1a1b1e;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
  display: inline-block;
}
.woocommerce ul.products li.product .price .woocommerce-Price-amount, .woocommerce-page ul.products li.product .price .woocommerce-Price-amount {
  color: #9f9e9e;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
  color: #636363;
  margin-right: 5px;
}
.woocommerce ul.products li.product .price del .woocommerce-Price-amount, .woocommerce-page ul.products li.product .price del .woocommerce-Price-amount {
  color: #636363;
}
.woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins {
  background: transparent;
}
.woocommerce ul.products li.product .wrapper-add-to-cart, .woocommerce-page ul.products li.product .wrapper-add-to-cart {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 10px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.woocommerce ul.products li.product .add_to_cart_button, .woocommerce-page ul.products li.product .add_to_cart_button {
  display: block;
  margin-top: 0px;
  padding: 16px 23px;
  border-radius: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.woocommerce ul.products li.product .add_to_cart_button.added, .woocommerce-page ul.products li.product .add_to_cart_button.added {
  display: none;
}
.woocommerce ul.products li.product .added_to_cart, .woocommerce-page ul.products li.product .added_to_cart {
  width: 100%;
  display: block;
  background: #1a1a1a;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  padding: 16px 23px;
  color: #fff;
  border: 1px solid #1a1a1a;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}
.woocommerce ul.products li.product .added_to_cart:hover, .woocommerce-page ul.products li.product .added_to_cart:hover {
  background: #fff;
  color: #1a1a1a;
}
.woocommerce ul.products li.product:hover .wrapper-add-to-cart, .woocommerce-page ul.products li.product:hover .wrapper-add-to-cart {
  visibility: visible;
  opacity: 1;
}
.woocommerce ul.products li.product:hover .add_to_cart_button,
.woocommerce ul.products li.product:hover .added_to_cart, .woocommerce-page ul.products li.product:hover .add_to_cart_button,
.woocommerce-page ul.products li.product:hover .added_to_cart {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.wc-pagination {
  text-align: center;
}
.wc-pagination .page-pagination {
  margin-top: 10px;
}

.woocommerce span.onsale {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: #1a1a1a;
  padding: 9px 10px;
  line-height: 1;
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  right: auto;
  min-height: auto;
  min-width: auto;
  margin: 0px;
  z-index: 1;
}

/*Version dark*/
.dark-scheme.woocommerce .woocommerce-ordering select.orderby {
  background-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  color: #a3a3a3;
}

.dark-scheme.woocommerce .woocommerce-result-count {
  color: inherit;
}

.dark-scheme.woocommerce ul.products li.product .price del, .dark-scheme.woocommerce-page ul.products li.product .price del {
  color: #a3a3a3;
}
.dark-scheme.woocommerce ul.products li.product .price del .woocommerce-Price-amount, .dark-scheme.woocommerce-page ul.products li.product .price del .woocommerce-Price-amount {
  color: #a3a3a3;
}

.dark-scheme.woocommerce ul.products li.product .woocommerce-loop-product__title a, .dark-scheme.woocommerce-page ul.products li.product .woocommerce-loop-product__title a {
  color: #fff;
}

@media (max-width: 479px) {
  .woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
    float: none;
  }

  .woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
    float: left;
    margin-top: 10px;
    border: none;
    border-radius: 0;
    padding: 0;
    background: transparent;
  }

  .woocommerce div ul.products[class*=columns-] li.product,
.woocommerce-page div ul.products[class*=columns-] li.product {
    width: 100%;
  }

  .woocommerce #reviews #comments ol.commentlist li img.avatar {
    position: static;
    float: none;
  }

  .woocommerce div #reviews #comments ol.commentlist li .comment-text {
    margin-left: 0;
    margin-top: 20px;
  }

  .woocommerce div .woocommerce-ordering .orderby {
    padding: 0;
    border: none;
  }
}
/**
 * Single product
 */
.product_meta > span {
  display: block;
  text-transform: uppercase;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 500;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.product_meta > span > * {
  font-weight: 400;
  text-transform: none;
  color: #838383;
}
.product_meta > span a:hover {
  color: #1a1a1a;
}

.woocommerce-review-link {
  color: #9f9e9e;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-left: 10px;
  margin-top: 3px;
}
.woocommerce-review-link:hover {
  color: #1a1a1a;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #9f9e9e;
}

.woocommerce div.product .entry-summary p.price .woocommerce-Price-amount,
.woocommerce div.product .entry-summary span.price .woocommerce-Price-amount {
  font-size: 30px;
  color: #555;
}

.woocommerce div.product form.cart {
  padding: 30px 0;
  margin: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce .quantity .qty {
  color: #1a1a1a;
  border: none;
  background-color: #f6f6f6;
  padding: 15px;
  padding-right: 5px;
  text-align: center;
  width: 75px;
  height: 56px;
  line-height: 46px;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.woocommerce div.product form.cart .button {
  padding: 20px 45px;
}

.single-product .woocommerce-product-gallery > figure > .woocommerce-product-gallery__image,
.single-product .woocommerce-product-gallery > .flex-viewport {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  width: 40px;
  height: 40px;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger:before {
  top: 11px;
  left: 11px;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger:after {
  top: 21px;
  left: 24px;
}

.woocommerce .woocommerce-product-gallery.woocommerce-product-gallery--with-images .flex-viewport,
.woocommerce-product-gallery__image {
  margin-bottom: 20px;
}

.woocommerce div.product div.images .flex-control-thumbs {
  margin-left: -20px;
}
.woocommerce div.product div.images .flex-control-thumbs li {
  padding-left: 20px;
}

.single-product .woocommerce-tabs {
  padding-top: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 0;
  margin: 0 0 1.618em;
  overflow: visible;
  display: block;
  text-align: center;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
  border-bottom: 0px solid #d3ced2;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: 0;
  background: none;
  border-radius: 0;
  margin: 0 12px;
  padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
  border: 0px solid #d3ced2;
  bottom: 0px;
  width: 0px;
  height: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
  left: 0px;
  border-bottom-right-radius: 0px;
  border-width: 0 0px 0px 0;
  box-shadow: 0px 0px 0 #ebe9eb;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
  right: 0px;
  border-bottom-left-radius: 0px;
  border-width: 0 0px 0px 0;
  box-shadow: 0px 0px 0 #ebe9eb;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  color: #555;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 3px solid #dadada;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
  color: #1a1a1a;
  border-color: #1a1a1a;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background: transparent;
  border-bottom-color: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color: #1a1a1a;
  border-color: #1a1a1a;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
  box-shadow: 0px 0px 0 #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active :after {
  box-shadow: 0px 0px 0 #fff;
}

.woocommerce-mini-cart__empty-message {
  margin-bottom: 0px;
}

.single-product div.product p.price del,
.single-product div.product span.price del {
  color: #636363;
}
.single-product div.product p.price del .woocommerce-Price-amount,
.single-product div.product span.price del .woocommerce-Price-amount {
  color: #636363;
}

.single-product h1.product_title {
  font-size: 42px;
  margin-bottom: 5px;
}
.single-product div.product .woocommerce-product-rating {
  margin-bottom: 5px;
}
.single-product .woocommerce-tabs h2 {
  font-size: 24px;
  display: none;
}
.single-product .woocommerce-tabs .comment-reply-title {
  font-size: 24px;
  font-weight: 600;
  color: #1a1b1e;
}
.single-product div.product div.images .flex-control-thumbs li img {
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg {
  background-color: #f0f6ff;
}

.woocommerce div.product .woocommerce-tabs .panel {
  text-align: center;
}

.woocommerce #reviews #comments ol.commentlist {
  padding-left: 0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
  width: auto;
  border-radius: 50%;
  padding: 0;
  border: none;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin-left: 90px;
  text-align: left;
  padding: 20px 23px 3px;
}

.woocommerce #review_form {
  max-width: 600px;
  margin: auto;
}
.woocommerce #review_form #comment {
  height: 130px;
}
.woocommerce #review_form #respond .form-submit {
  margin-top: 20px;
}

.woocommerce div.product form.cart div.quantity {
  margin-right: 14px;
}

#reviews .comment-form-rating {
  margin-bottom: 15px;
}

#reviews .comment-form p label {
  margin: 0 0 10px;
  display: inline-block;
}

#tab-description p:last-child {
  margin-bottom: 0;
}

.related.products {
  padding-top: 30px;
}
.related.products h2 {
  margin-bottom: 30px;
  font-size: 36px;
  text-transform: capitalize;
  text-align: center;
}

/*Dark Vesion*/
.dark-scheme .product_meta > span {
  color: #f4f4f4;
}
.dark-scheme .product_meta > span a:hover {
  color: #fff;
}
.dark-scheme .woocommerce .quantity .qty {
  color: #636363;
}
.dark-scheme.woocommerce .quantity .qty {
  background-color: #1a1a1a;
  color: #fff;
}
.dark-scheme.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #838383;
  border-color: #1a1a1a;
}
.dark-scheme.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color: #f4f4f4;
  border-color: #fff;
}
.dark-scheme.single-product .woocommerce-tabs .comment-reply-title {
  color: #f4f4f4;
}
.dark-scheme.woocommerce #reviews #comments ol.commentlist li .comment-text {
  border-color: rgba(255, 255, 255, 0.1);
}

/**
 * Checkout
 */
.woocommerce .product-remove a.remove {
  line-height: 0.8em;
  font-weight: 400;
}

.woocommerce-cart-form table, .woocommerce-cart-form th, .woocommerce-cart-form td {
  border: 0px solid #eee;
}

.woocommerce table.shop_table {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  color: #1a1b1e;
  font-size: 16px;
  border: none;
  border-collapse: collapse;
}
.woocommerce table.shop_table th {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  padding: 15px 12px;
}
.woocommerce table.shop_table td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 12px;
}
.woocommerce table.shop_table td.product-name a {
  color: #1a1b1e;
  font-size: 22px;
}
.woocommerce table.shop_table td.product-price .woocommerce-Price-amount, .woocommerce table.shop_table td.product-subtotal .woocommerce-Price-amount {
  color: #636363;
}
.woocommerce table.shop_table td .quantity .qty {
  background: none;
  padding-left: 0;
  text-align: left;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 320px;
  padding: 25px;
  border: 1px solid #eee;
}

.woocommerce-cart .wc-proceed-to-checkout {
  padding-bottom: 0;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  margin-bottom: 0;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#order_review_heading {
  margin-top: 30px;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  background-color: #EFF6FF;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
  padding-top: 25px;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text,
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
  width: 300px;
  padding: 20px;
  height: 48px;
  line-height: 48px;
  margin: 0 10px 0 0;
  color: #7e7e7e;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  border-color: #e6e6e6;
  color: #7e7e7e;
}

.woocommerce-message {
  border-top-color: #9f9e9e;
}
.woocommerce-message:before {
  color: #9f9e9e;
}

.woocommerce-info {
  border-top-color: #9f9e9e;
}
.woocommerce-info:before {
  color: #9f9e9e;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
  padding-top: 20px;
}

.cart_totals h2 {
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

#add_payment_method .cart-collaterals .cart_totals table td, #add_payment_method .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-checkout .cart-collaterals .cart_totals table td, .woocommerce-checkout .cart-collaterals .cart_totals table th {
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  line-height: 24px;
  color: #1a1b1e;
  padding: 9px 10px;
  border: none;
}
#add_payment_method .cart-collaterals .cart_totals table td .woocommerce-Price-amount, #add_payment_method .cart-collaterals .cart_totals table th .woocommerce-Price-amount,
.woocommerce-cart .cart-collaterals .cart_totals table td .woocommerce-Price-amount, .woocommerce-cart .cart-collaterals .cart_totals table th .woocommerce-Price-amount,
.woocommerce-checkout .cart-collaterals .cart_totals table td .woocommerce-Price-amount, .woocommerce-checkout .cart-collaterals .cart_totals table th .woocommerce-Price-amount {
  font-size: 18px;
}

#add_payment_method .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-checkout .cart-collaterals .cart_totals table th {
  padding-left: 0px;
}

.woocommerce-cart .cart-collaterals .cart_totals table td {
  padding-right: 0px;
  text-align: right;
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.select2-container .select2-selection--single {
  height: 47px;
  line-height: 47px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #7e7e7e;
  line-height: 47px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px;
  right: 20px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody th,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody td,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot td,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot th {
  border-top: 1px solid #e6e6e6;
}

.woocommerce form.woocommerce-form-coupon .form-row {
  width: 50%;
}

.woocommerce-shipping-fields input {
  margin-right: 6px;
  vertical-align: middle;
}

.woocommerce-page .woocommerce-additional-fields .form-row textarea {
  height: 100px;
  width: 100%;
}

/*Dark Version*/
.dark-scheme .woocommerce table.shop_table {
  color: #fff;
}
.dark-scheme .woocommerce table.shop_table td {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 0;
  border-right: 0;
}
.dark-scheme .woocommerce table.shop_table td.product-name a {
  color: #fff;
}
.dark-scheme .woocommerce table.shop_table td.product-price .woocommerce-Price-amount, .dark-scheme .woocommerce table.shop_table td.product-subtotal .woocommerce-Price-amount {
  color: #a3a3a3;
}
.dark-scheme .woocommerce-error, .dark-scheme .woocommerce-info, .dark-scheme .woocommerce-message {
  color: #a3a3a3;
  background-color: #1a1a1a;
}
.dark-scheme .select2-container--default .select2-selection--single {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
}
.dark-scheme .woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody th,
.dark-scheme .woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody td,
.dark-scheme .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot td,
.dark-scheme .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot th {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-scheme.woocommerce .cart-collaterals .cart_totals,
.dark-scheme.woocommerce-page .cart-collaterals .cart_totals {
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-scheme.woocommerce-cart #payment,
.dark-scheme #add_payment_method #payment,
.dark-scheme.woocommerce-checkout #payment {
  background-color: #1a1a1a;
}

.dark-scheme #add_payment_method table.cart td.actions .coupon .input-text,
.dark-scheme.woocommerce-cart table.cart td.actions .coupon .input-text,
.dark-scheme.woocommerce-checkout table.cart td.actions .coupon .input-text {
  border-color: rgba(255, 255, 255, 0.1);
  color: #a3a3a3;
}

.dark-scheme.woocommerce-cart .cart-collaterals .cart_totals table td, .dark-scheme.woocommerce-cart .cart-collaterals .cart_totals table th,
.dark-scheme #add_payment_method .cart-collaterals .cart_totals table td, .dark-scheme #add_payment_method .cart-collaterals .cart_totals table th .dark-scheme.woocommerce-checkout .cart-collaterals .cart_totals table td,
.dark-scheme.woocommerce-checkout .cart-collaterals .cart_totals table th {
  color: #fff;
}

.dark-scheme #add_payment_method #payment ul.payment_methods,
.dark-scheme.woocommerce-cart #payment ul.payment_methods,
.dark-scheme.woocommerce-checkout #payment ul.payment_methods {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 479px) {
  .woocommerce-page #content table.cart td.actions .coupon input.input-text,
.woocommerce-page #content table.cart td.actions .coupon button.button {
    width: 100%;
    margin-bottom: 14px;
  }

  .woocommerce form.woocommerce-form-coupon .form-row {
    width: 100%;
  }
}
/**
 * General WooCommerce components
 */
/**
 * WooCommerce widgets
 */
/* 
* Shop Sidebar 
*/
/* widget product */
.woocommerce .woocommerce-Price-amount {
  color: #9f9e9e;
  font-weight: 400;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}
.woocommerce ul.product_list_widget li {
  margin-bottom: 28px;
}
.woocommerce ul.product_list_widget li .widget-prthumb {
  float: left;
  margin-right: 20px;
  background: #f0f6ff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce ul.product_list_widget li .widget-prthumb img {
  width: 70px;
  margin-left: 0;
  float: none;
}
.woocommerce ul.product_list_widget li.mini_cart_item img {
  width: 75px;
  float: left;
  margin-left: 0;
  margin-top: 2px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce ul.product_list_widget li .product-title {
  display: block;
  line-height: 1;
}
.woocommerce ul.product_list_widget li a:not(.remove) {
  display: inline;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  color: #1a1b1e;
  font-weight: 500;
  line-height: 24px;
}
.woocommerce ul.product_list_widget li .star-rating {
  float: none;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 12px;
  letter-spacing: 3px;
  width: 80px;
}
.woocommerce ul.product_list_widget li .price {
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
}
.woocommerce ul.product_list_widget li .price del {
  color: #636363;
  margin-right: 5px;
}
.woocommerce ul.product_list_widget li .price del span {
  color: #636363;
  text-decoration: line-through;
}
.woocommerce ul.product_list_widget li .price ins {
  background: transparent;
}

/* widget cart */
.woocommerce .widget_shopping_cart .cart_list .quantity {
  color: #9f9e9e;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-top: 12px;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
  padding-left: 0em;
  padding-right: 2em;
  position: relative;
  padding-top: 0;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
  top: 0;
  margin-top: 0px;
  right: 0px;
  left: auto;
  line-height: 0.8;
  font-weight: 400;
  font-size: 25px;
  color: #656565 !important;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove:hover,
.woocommerce.widget_shopping_cart .cart_list li a.remove:hover {
  background: none;
  color: #1a1a1a !important;
}
.woocommerce .widget_shopping_cart .cart_list li.mini_cart_item,
.woocommerce.widget_shopping_cart .cart_list li.mini_cart_item {
  margin-bottom: 0;
  padding-bottom: 28px;
  line-height: 1;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
  border-top: 0;
  padding: 0;
}
.woocommerce .widget_shopping_cart .total strong,
.woocommerce.widget_shopping_cart .total strong {
  color: #1a1b1e;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.woocommerce .widget_shopping_cart .total .woocommerce-Price-amount,
.woocommerce.widget_shopping_cart .total .woocommerce-Price-amount {
  float: right;
  font-size: 18px;
  line-height: 44px;
  color: #555;
}

.woocommerce-mini-cart__buttons a.button.wc-forward {
  font-size: 13px;
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 16px 30px;
  margin-right: 13px;
  display: inline-block;
}
.woocommerce-mini-cart__buttons a.button.checkout {
  margin-right: 0px;
  background: transparent;
  color: #1a1a1a;
}
.woocommerce-mini-cart__buttons a.button.checkout:hover {
  background: #1a1a1a;
  color: #fff;
}

/* widget filter */
.woocommerce .woocommerce-widget-layered-nav-list {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  margin-bottom: 11px;
  line-height: 24px;
}
.woocommerce .woocommerce-widget-layered-nav-list li {
  margin-bottom: 5px;
}
.woocommerce .woocommerce-widget-layered-nav-list li a {
  color: #1a1b1e;
}
.woocommerce .woocommerce-widget-layered-nav-list li a:hover {
  color: #9f9e9e;
}
.woocommerce .woocommerce-widget-layered-nav-list li span.count {
  color: #555555;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #e5e5e5;
  height: 2px;
}
.woocommerce .widget_price_filter .ui-slider {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #1a1a1a;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  width: 2px;
  height: 10px;
  top: 50%;
  margin: 0;
  transform: translateY(-50%) skewX(-30deg);
}
.woocommerce .widget_price_filter .price_slider_amount {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #1a1b1e;
  font-weight: 600;
  text-transform: uppercase;
}
.woocommerce .widget_price_filter .price_slider_amount button.button {
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: #1a1a1a;
  padding: 12px 19px;
  box-shadow: none;
  text-transform: uppercase;
}
.woocommerce .widget_price_filter .price_slider_amount button.button:hover {
  background: transparent;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label {
  padding-top: 5px;
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled,
.woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled,
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit, .woocommerce a.button,
.woocommerce button.button, .woocommerce input.button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,
.woocommerce button.button.alt, .woocommerce input.button.alt {
  overflow: hidden;
  font-size: 14px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 30px;
  border-radius: 0;
  outline: none;
  color: #fff;
  transition: all 0.3s;
}
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover,
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover,
.woocommerce button.button:hover, .woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  color: #fff;
  box-shadow: none;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,
.woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce #respond input#submit, .woocommerce a.button,
.woocommerce input.button, .woocommerce button.button.alt.disabled {
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover,
.woocommerce input.button:hover, .woocommerce button.button.alt.disabled:hover {
  background-color: #fff;
  color: #1a1a1a;
}

.woocommerce button.button {
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
.woocommerce button.button:hover {
  background-color: #fff;
  color: #1a1a1a;
}

.site-header-cart ul.product_list_widget li a:not(.remove),
.site-header-cart .widget_shopping_cart .total strong,
.site-header-cart .widget_shopping_cart .total .woocommerce-Price-amount {
  color: #fff;
}
.site-header-cart .woocommerce-mini-cart__buttons a.button.wc-forward {
  border-color: #fff;
  color: #1a1a1a;
  background: #fff;
}
.site-header-cart .woocommerce-mini-cart__buttons a.button.wc-forward.checkout, .site-header-cart .woocommerce-mini-cart__buttons a.button.wc-forward:hover {
  color: #fff;
  background: transparent;
}
.site-header-cart .woocommerce-mini-cart__buttons a.button.wc-forward.checkout:hover {
  color: #1a1a1a;
  background: #fff;
}
.site-header-cart .widget_shopping_cart .cart_list li a.remove:hover {
  color: #fff !important;
}

/*Version Dark*/
.dark-scheme.woocommerce .widget_price_filter .price_slider_amount {
  color: #fff;
}
.dark-scheme.woocommerce .widget_price_filter .price_slider_amount button.button {
  background-color: #fff;
  color: #1a1a1a;
}
.dark-scheme.woocommerce .widget_price_filter .price_slider_amount button.button:hover {
  background-color: #1a1a1a;
  color: #fff;
}
.dark-scheme.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #636363;
}
.dark-scheme.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .dark-scheme.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #fff;
}

.dark-scheme .woocommerce #respond input#submit.disabled, .dark-scheme .woocommerce #respond input#submit:disabled,
.dark-scheme .woocommerce #respond input#submit:disabled[disabled], .dark-scheme .woocommerce a.button.disabled,
.dark-scheme .woocommerce a.button:disabled, .dark-scheme .woocommerce a.button:disabled[disabled], .dark-scheme .woocommerce button.button.disabled,
.dark-scheme .woocommerce button.button:disabled, .dark-scheme .woocommerce button.button:disabled[disabled],
.dark-scheme .woocommerce input.button.disabled, .dark-scheme .woocommerce input.button:disabled, .dark-scheme .woocommerce input.button:disabled[disabled],
.dark-scheme .woocommerce #respond input#submit, .dark-scheme .woocommerce a.button,
.dark-scheme .woocommerce button.button, .dark-scheme .woocommerce input.button,
.dark-scheme .woocommerce #respond input#submit.alt, .dark-scheme .woocommerce a.button.alt,
.dark-scheme .woocommerce button.button.alt, .dark-scheme .woocommerce input.button.alt {
  color: #1a1a1a;
}
.dark-scheme .woocommerce #respond input#submit.alt, .dark-scheme .woocommerce a.button.alt,
.dark-scheme .woocommerce button.button.alt, .dark-scheme .woocommerce input.button.alt,
.dark-scheme .woocommerce #respond input#submit, .dark-scheme .woocommerce a.button,
.dark-scheme .woocommerce input.button, .dark-scheme .woocommerce button.button.alt.disabled,
.dark-scheme .woocommerce button.button {
  background-color: #fff;
  border: 1px solid #fff;
  color: #1a1a1a;
}
.dark-scheme .woocommerce #respond input#submit.alt:hover, .dark-scheme .woocommerce a.button.alt:hover,
.dark-scheme .woocommerce button.button.alt:hover, .dark-scheme .woocommerce input.button.alt:hover,
.dark-scheme .woocommerce #respond input#submit:hover, .dark-scheme .woocommerce a.button:hover,
.dark-scheme .woocommerce input.button:hover, .dark-scheme .woocommerce button.button.alt.disabled:hover,
.dark-scheme .woocommerce button.button:hover {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}
